@charset "utf-8";
/* CSS Document */

body{
	background:#F5F5DC;
}

.form-signin {
	max-width: 500px;
	padding: 19px 29px 29px;
	margin: 0 auto;
	//margin-top:90px;
	background-color: #E6E6FA;
	
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	font-family: "Roboto", sans-serif;
}

.form-signin .form-signin-heading{
	color:#696969;
}
.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin input[type="email"] {
	font-size: 16px;
	height: 45px;
}

.signin-form, .body-container
{
	margin-top:110px;
}
.navbar-brand{
	font-family: "Roboto", sans-serif;
}
#btn-submit{
	height:45px;
	background-color :#1abc9c;
}
.h5{
	font-family: "Roboto", sans-serif;
}
h1{
	font-family: "Roboto", sans-serif;
}

.form-signin h2{
	text-align : center;
}

.btn-primary {
	color:white;
	background-color:#1abc9c;
	border-color:#1abc9c
	font-family: "Roboto", sans-serif;
	position: relative;
  	top: 0px;
 	left: 200px;
    
}

.btn-sec {
	color:#1abc9c;
	background-color:white;
	border : none;
	vertical-align : bottom;
	padding : 0;
	font-family: "Roboto", sans-serif;
	text-decoration : underline;
}

label{
	color : #00008B;
}

label a{
	color: #00008B;
}

.form-group {
	margin-bottom:15px;

}

.form-group .form-control{
	width : 100%;
	padding : 0px;
	margin: 0px;
}

.form-group .btn-primary{
	width : 100px;
	color:white;
	background-color:#696969;
	border-radius : 5px;
	border : none;
	height : 40px;
	font-size : 90%
	padding : 0;
	text-align : center;
}

.alert-danger{
	color : #37474F;
	margin-bottom : 5px;
}

.alert-info{
	color : #37474F;
	margin-bottom : 5px;
}
